name: CI Sonar

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: "17"
          cache: maven

      - name: Build
        run: mvn -B -ntp clean verify

      - name: SonarCloud Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        run: mvn -B -ntp sonar:sonar \
          -Dsonar.host.url=https://sonarcloud.io \
          -Dsonar.organization=chalimoniukkx3 \
          -Dsonar.projectKey=ChalimoniukKX3_Lab_9_10 \
          -Dsonar.qualitygate.wait=true
